In [48]:
import numpy as np
import pandas as pd
from datetime import date
from os import listdir
from os.path import isfile, join


path_ ='C:\\Users\\mehrd\\PycharmProjects\\drinkometer\\data\\2020\\dataframes'
print(path_)

C:\Users\mehrd\PycharmProjects\drinkometer\data\2020\dataframes

In [51]:
df1_d = pd.read_excel("{}\drinkometer_df_wistar_male_1001_daily_dark.xlsx".format(path_))
df1_l = pd.read_excel("{}\drinkometer_df_wistar_male_1001_daily_light.xlsx".format(path_))

df2_d = pd.read_excel("{}\drinkometer_df_wistar_male_1002_daily_dark.xlsx".format(path_))
df2_l = pd.read_excel("{}\drinkometer_df_wistar_male_1002_daily_light.xlsx".format(path_))

df3_d = pd.read_excel("{}\drinkometer_df_wistar_male_1003_daily_dark.xlsx".format(path_))
df3_l = pd.read_excel("{}\drinkometer_df_wistar_male_1003_daily_light.xlsx".format(path_))

df4_d = pd.read_excel("{}\drinkometer_df_wistar_male_1004_daily_dark.xlsx".format(path_))
df4_l = pd.read_excel("{}\drinkometer_df_wistar_male_1004_daily_light.xlsx".format(path_))

df5_d = pd.read_excel("{}\drinkometer_df_wistar_male_1005_daily_dark.xlsx".format(path_))
df5_l = pd.read_excel("{}\drinkometer_df_wistar_male_1005_daily_light.xlsx".format(path_))

df6_d = pd.read_excel("{}\drinkometer_df_wistar_male_1006_daily_dark.xlsx".format(path_))
df6_l = pd.read_excel("{}\drinkometer_df_wistar_male_1006_daily_light.xlsx".format(path_))

df8_d = pd.read_excel("{}\drinkometer_df_wistar_male_1008_daily_dark.xlsx".format(path_))
df8_l = pd.read_excel("{}\drinkometer_df_wistar_male_1008_daily_light.xlsx".format(path_))

df9_d = pd.read_excel("{}\drinkometer_df_wistar_male_1009_daily_dark.xlsx".format(path_))
df9_l = pd.read_excel("{}\drinkometer_df_wistar_male_1009_daily_light.xlsx".format(path_))

df10_d = pd.read_excel("{}\drinkometer_df_wistar_male_1010_daily_dark.xlsx".format(path_))
df10_l = pd.read_excel("{}\drinkometer_df_wistar_male_1010_daily_light.xlsx".format(path_))

df11_d = pd.read_excel("{}\drinkometer_df_wistar_male_1011_daily_dark.xlsx".format(path_))
df11_l = pd.read_excel("{}\drinkometer_df_wistar_male_1011_daily_light.xlsx".format(path_))

df12_d = pd.read_excel("{}\drinkometer_df_wistar_male_1012_daily_dark.xlsx".format(path_))
df12_l = pd.read_excel("{}\drinkometer_df_wistar_male_1012_daily_light.xlsx".format(path_))

df13_d = pd.read_excel("{}\drinkometer_df_wistar_male_1013_daily_dark.xlsx".format(path_))
df13_l = pd.read_excel("{}\drinkometer_df_wistar_male_1013_daily_light.xlsx".format(path_))

df14_d = pd.read_excel("{}\drinkometer_df_wistar_male_1014_daily_dark.xlsx".format(path_))
df14_l = pd.read_excel("{}\drinkometer_df_wistar_male_1014_daily_light.xlsx".format(path_))

df15_d = pd.read_excel("{}\drinkometer_df_wistar_male_1015_daily_dark.xlsx".format(path_))
df15_l = pd.read_excel("{}\drinkometer_df_wistar_male_1015_daily_light.xlsx".format(path_))

df17_d = pd.read_excel("{}\drinkometer_df_wistar_male_1017_daily_dark.xlsx".format(path_))
df17_l = pd.read_excel("{}\drinkometer_df_wistar_male_1017_daily_light.xlsx".format(path_))

df18_d = pd.read_excel("{}\drinkometer_df_wistar_male_1018_daily_dark.xlsx".format(path_))
df18_l = pd.read_excel("{}\drinkometer_df_wistar_male_1018_daily_light.xlsx".format(path_))

df19_d = pd.read_excel("{}\drinkometer_df_wistar_male_1019_daily_dark.xlsx".format(path_))
df19_l = pd.read_excel("{}\drinkometer_df_wistar_male_1019_daily_light.xlsx".format(path_))

df20_d = pd.read_excel("{}\drinkometer_df_wistar_male_1020_daily_dark.xlsx".format(path_))
df20_l = pd.read_excel("{}\drinkometer_df_wistar_male_1020_daily_light.xlsx".format(path_))

df21_d = pd.read_excel("{}\drinkometer_df_wistar_male_1021_daily_dark.xlsx".format(path_))
df21_l = pd.read_excel("{}\drinkometer_df_wistar_male_1021_daily_light.xlsx".format(path_))

df22_d = pd.read_excel("{}\drinkometer_df_wistar_male_1022_daily_dark.xlsx".format(path_))
df22_l = pd.read_excel("{}\drinkometer_df_wistar_male_1022_daily_light.xlsx".format(path_))

df23_d = pd.read_excel("{}\drinkometer_df_wistar_male_1023_daily_dark.xlsx".format(path_))
df23_l = pd.read_excel("{}\drinkometer_df_wistar_male_1023_daily_light.xlsx".format(path_))

df24_d = pd.read_excel("{}\drinkometer_df_wistar_male_1024_daily_dark.xlsx".format(path_))
df24_l = pd.read_excel("{}\drinkometer_df_wistar_male_1024_daily_light.xlsx".format(path_))

df25_d = pd.read_excel("{}\drinkometer_df_wistar_male_1025_daily_dark.xlsx".format(path_))
df25_l = pd.read_excel("{}\drinkometer_df_wistar_male_1025_daily_light.xlsx".format(path_))

df26_d = pd.read_excel("{}\drinkometer_df_wistar_male_1026_daily_dark.xlsx".format(path_))
df26_l = pd.read_excel("{}\drinkometer_df_wistar_male_1026_daily_light.xlsx".format(path_))

df27_d = pd.read_excel("{}\drinkometer_df_wistar_male_1027_daily_dark.xlsx".format(path_))
df27_l = pd.read_excel("{}\drinkometer_df_wistar_male_1027_daily_light.xlsx".format(path_))

df28_d = pd.read_excel("{}\drinkometer_df_wistar_male_1028_daily_dark.xlsx".format(path_))
df28_l = pd.read_excel("{}\drinkometer_df_wistar_male_1028_daily_light.xlsx".format(path_))

df29_d = pd.read_excel("{}\drinkometer_df_wistar_male_1029_daily_dark.xlsx".format(path_))
df29_l = pd.read_excel("{}\drinkometer_df_wistar_male_1029_daily_light.xlsx".format(path_))

df30_d = pd.read_excel("{}\drinkometer_df_wistar_male_1030_daily_dark.xlsx".format(path_))
df30_l = pd.read_excel("{}\drinkometer_df_wistar_male_1030_daily_light.xlsx".format(path_))

df31_d = pd.read_excel("{}\drinkometer_df_wistar_male_1031_daily_dark.xlsx".format(path_))
df31_l = pd.read_excel("{}\drinkometer_df_wistar_male_1031_daily_light.xlsx".format(path_))

df32_d = pd.read_excel("{}\drinkometer_df_wistar_male_1032_daily_dark.xlsx".format(path_))
df32_l = pd.read_excel("{}\drinkometer_df_wistar_male_1032_daily_light.xlsx".format(path_))

In [53]:
df_m = pd.DataFrame(index=range(280), columns=['date', 'day_index', 'strain', 'oxytocin', 'quinine',
                                                'w_1', 'a_1', 'ap_1', 'loco_1',
                                                'w_2', 'a_2', 'ap_2', 'loco_2',
                                                'w_3', 'a_3', 'ap_3', 'loco_3',
                                                'w_4', 'a_4', 'ap_4', 'loco_4',
                                                'w_5', 'a_5', 'ap_5', 'loco_5',
                                                'w_6', 'a_6', 'ap_6', 'loco_6',
                                                'w_8', 'a_8', 'ap_8', 'loco_8',
                                                'w_9', 'a_9', 'ap_9', 'loco_9',
                                                'w_10', 'a_10', 'ap_10', 'loco_10',
                                                'w_11', 'a_11', 'ap_11', 'loco_11',
                                                'w_12', 'a_12', 'ap_12', 'loco_12',
                                                'w_13', 'a_13', 'ap_13', 'loco_13',
                                                'w_14', 'a_14', 'ap_14', 'loco_14',
                                                'w_15', 'a_15', 'ap_15', 'loco_15',
                                                'w_17', 'a_17', 'ap_17', 'loco_17',
                                                'w_18', 'a_18', 'ap_18', 'loco_18',
                                                'w_19', 'a_19', 'ap_19', 'loco_19',
                                                'w_20', 'a_20', 'ap_20', 'loco_20',
                                                'w_21', 'a_21', 'ap_21', 'loco_21',
                                                'w_22', 'a_22', 'ap_22', 'loco_22',
                                                'w_23', 'a_23', 'ap_23', 'loco_23',
                                                'w_24', 'a_24', 'ap_24', 'loco_24',
                                                'w_25', 'a_25', 'ap_25', 'loco_25',
                                                'w_26', 'a_26', 'ap_26', 'loco_26',
                                                'w_27', 'a_27', 'ap_27', 'loco_27',
                                                'w_28', 'a_28', 'ap_28', 'loco_28',
                                                'w_29', 'a_29', 'ap_29', 'loco_29',
                                                'w_30', 'a_30', 'ap_30', 'loco_30',
                                                'w_31', 'a_31', 'ap_31', 'loco_31',
                                                'w_32', 'a_32', 'ap_32', 'loco_32'])

In [54]:
for i in range(280):
    df_m.loc[i, 'date'] = df1_l.loc[i, 'date']
    df_m.loc[i, 'day_index'] = df1_l.loc[i, 'day_index']
    df_m.loc[i, 'strain'] = df1_l.loc[i, 'strain']
    df_m.loc[i, 'oxytocin'] = df1_l.loc[i, 'oxytocin']
    df_m.loc[i, 'quinine'] = df1_l.loc[i, 'quinine']
    
    
    df_m.loc[i, 'w_1'] = df1_d.loc[i, 'water'] + df1_l.loc[i, 'water']
    df_m.loc[i, 'a_1'] = np.nansum([df1_d.loc[i, 'alcohol_5'], df1_l.loc[i, 'alcohol_5'], df1_d.loc[i, 'alcohol_10'],
                        df1_l.loc[i, 'alcohol_10'], df1_d.loc[i, 'alcohol_20'], df1_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_1'] != 0.0):
        df_m.loc[i, 'ap_1'] = ((( np.nansum([df1_d.loc[i, 'alcohol_5'], df1_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df1_d.loc[i, 'alcohol_10'], df1_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df1_d.loc[i, 'alcohol_20'], df1_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_2'])*100 
    df_m.loc[i, 'loco_1'] = np.nansum([df1_d.loc[i, 'locomotive'], df1_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_2'] = df2_d.loc[i, 'water'] + df2_l.loc[i, 'water']
    df_m.loc[i, 'a_2'] = np.nansum([df2_d.loc[i, 'alcohol_5'], df2_l.loc[i, 'alcohol_5'], df2_d.loc[i, 'alcohol_10'],
                        df2_l.loc[i, 'alcohol_10'], df2_d.loc[i, 'alcohol_20'], df2_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_2'] != 0.0):
        df_m.loc[i, 'ap_2'] = ((( np.nansum([df2_d.loc[i, 'alcohol_5'], df2_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df2_d.loc[i, 'alcohol_10'], df2_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df2_d.loc[i, 'alcohol_20'], df2_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_2'])*100 
    df_m.loc[i, 'loco_2'] = np.nansum([df2_d.loc[i, 'locomotive'], df2_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_3'] = df3_d.loc[i, 'water'] + df3_l.loc[i, 'water']
    df_m.loc[i, 'a_3'] = np.nansum([df3_d.loc[i, 'alcohol_5'], df3_l.loc[i, 'alcohol_5'], df3_d.loc[i, 'alcohol_10'],
                        df3_l.loc[i, 'alcohol_10'], df3_d.loc[i, 'alcohol_20'], df3_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_3'] != 0.0):
        df_m.loc[i, 'ap_3'] = ((( np.nansum([df3_d.loc[i, 'alcohol_5'], df3_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df3_d.loc[i, 'alcohol_10'], df3_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df3_d.loc[i, 'alcohol_20'], df3_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_3'])*100 
    df_m.loc[i, 'loco_3'] = np.nansum([df3_d.loc[i, 'locomotive'], df3_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_4'] = df4_d.loc[i, 'water'] + df4_l.loc[i, 'water']
    df_m.loc[i, 'a_4'] = np.nansum([df4_d.loc[i, 'alcohol_5'], df4_l.loc[i, 'alcohol_5'], df4_d.loc[i, 'alcohol_10'],
                        df4_l.loc[i, 'alcohol_10'], df4_d.loc[i, 'alcohol_20'], df4_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_4'] != 0.0):
        df_m.loc[i, 'ap_4'] = ((( np.nansum([df4_d.loc[i, 'alcohol_5'], df4_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df4_d.loc[i, 'alcohol_10'], df4_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df4_d.loc[i, 'alcohol_20'], df4_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_4'])*100 
    df_m.loc[i, 'loco_4'] = np.nansum([df4_d.loc[i, 'locomotive'], df4_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_5'] = df5_d.loc[i, 'water'] + df5_l.loc[i, 'water']
    df_m.loc[i, 'a_5'] = np.nansum([df5_d.loc[i, 'alcohol_5'], df5_l.loc[i, 'alcohol_5'], df5_d.loc[i, 'alcohol_10'],
                        df5_l.loc[i, 'alcohol_10'], df5_d.loc[i, 'alcohol_20'], df5_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_5'] != 0.0):
        df_m.loc[i, 'ap_5'] = ((( np.nansum([df5_d.loc[i, 'alcohol_5'], df5_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df5_d.loc[i, 'alcohol_10'], df5_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df5_d.loc[i, 'alcohol_20'], df5_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_5'])*100 
    df_m.loc[i, 'loco_5'] = np.nansum([df5_d.loc[i, 'locomotive'], df5_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_6'] = df6_d.loc[i, 'water'] + df6_l.loc[i, 'water']
    df_m.loc[i, 'a_6'] = np.nansum([df6_d.loc[i, 'alcohol_5'], df6_l.loc[i, 'alcohol_5'], df6_d.loc[i, 'alcohol_10'],
                        df6_l.loc[i, 'alcohol_10'], df6_d.loc[i, 'alcohol_20'], df6_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_6'] != 0.0):
        df_m.loc[i, 'ap_6'] = ((( np.nansum([df6_d.loc[i, 'alcohol_5'], df6_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df6_d.loc[i, 'alcohol_10'], df6_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df6_d.loc[i, 'alcohol_20'], df6_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_6'])*100 
    df_m.loc[i, 'loco_6'] = np.nansum([df6_d.loc[i, 'locomotive'], df6_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_8'] = df8_d.loc[i, 'water'] + df8_l.loc[i, 'water']
    df_m.loc[i, 'a_8'] = np.nansum([df8_d.loc[i, 'alcohol_5'], df8_l.loc[i, 'alcohol_5'], df8_d.loc[i, 'alcohol_10'],
                        df8_l.loc[i, 'alcohol_10'], df8_d.loc[i, 'alcohol_20'], df8_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_8'] != 0.0):
        df_m.loc[i, 'ap_8'] = ((( np.nansum([df8_d.loc[i, 'alcohol_5'], df8_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df8_d.loc[i, 'alcohol_10'], df8_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df8_d.loc[i, 'alcohol_20'], df8_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_8'])*100 
    df_m.loc[i, 'loco_8'] = np.nansum([df8_d.loc[i, 'locomotive'], df8_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_9'] = df9_d.loc[i, 'water'] + df9_l.loc[i, 'water']
    df_m.loc[i, 'a_9'] = np.nansum([df9_d.loc[i, 'alcohol_5'], df9_l.loc[i, 'alcohol_5'], df9_d.loc[i, 'alcohol_10'],
                        df9_l.loc[i, 'alcohol_10'], df9_d.loc[i, 'alcohol_20'], df9_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_9'] != 0.0):
        df_m.loc[i, 'ap_9'] = ((( np.nansum([df9_d.loc[i, 'alcohol_5'], df9_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df9_d.loc[i, 'alcohol_10'], df9_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df9_d.loc[i, 'alcohol_20'], df9_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_9'])*100 
    df_m.loc[i, 'loco_9'] = np.nansum([df9_d.loc[i, 'locomotive'], df9_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_10'] = df10_d.loc[i, 'water'] + df10_l.loc[i, 'water']
    df_m.loc[i, 'a_10'] = np.nansum([df10_d.loc[i, 'alcohol_5'], df10_l.loc[i, 'alcohol_5'], df10_d.loc[i, 'alcohol_10'],
                        df10_l.loc[i, 'alcohol_10'], df10_d.loc[i, 'alcohol_20'], df10_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_10'] != 0.0):
        df_m.loc[i, 'ap_10'] = ((( np.nansum([df10_d.loc[i, 'alcohol_5'], df10_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df10_d.loc[i, 'alcohol_10'], df10_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df10_d.loc[i, 'alcohol_20'], df10_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_10'])*100 
    df_m.loc[i, 'loco_10'] = np.nansum([df10_d.loc[i, 'locomotive'], df10_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_11'] = df11_d.loc[i, 'water'] + df11_l.loc[i, 'water']
    df_m.loc[i, 'a_11'] = np.nansum([df11_d.loc[i, 'alcohol_5'], df11_l.loc[i, 'alcohol_5'], df11_d.loc[i, 'alcohol_10'],
                        df11_l.loc[i, 'alcohol_10'], df11_d.loc[i, 'alcohol_20'], df11_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_11'] != 0.0):
        df_m.loc[i, 'ap_11'] = ((( np.nansum([df11_d.loc[i, 'alcohol_5'], df11_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df11_d.loc[i, 'alcohol_10'], df11_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df11_d.loc[i, 'alcohol_20'], df11_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_11'])*100 
    df_m.loc[i, 'loco_11'] = np.nansum([df11_d.loc[i, 'locomotive'], df11_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_12'] = df12_d.loc[i, 'water'] + df12_l.loc[i, 'water']
    df_m.loc[i, 'a_12'] = np.nansum([df12_d.loc[i, 'alcohol_5'], df12_l.loc[i, 'alcohol_5'], df12_d.loc[i, 'alcohol_10'],
                        df12_l.loc[i, 'alcohol_10'], df12_d.loc[i, 'alcohol_20'], df12_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_12'] != 0.0):
        df_m.loc[i, 'ap_12'] = ((( np.nansum([df12_d.loc[i, 'alcohol_5'], df12_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df12_d.loc[i, 'alcohol_10'], df12_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df12_d.loc[i, 'alcohol_20'], df12_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_12'])*100 
    df_m.loc[i, 'loco_12'] = np.nansum([df12_d.loc[i, 'locomotive'], df12_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_13'] = df13_d.loc[i, 'water'] + df13_l.loc[i, 'water']
    df_m.loc[i, 'a_13'] = np.nansum([df13_d.loc[i, 'alcohol_5'], df13_l.loc[i, 'alcohol_5'], df13_d.loc[i, 'alcohol_10'],
                        df13_l.loc[i, 'alcohol_10'], df13_d.loc[i, 'alcohol_20'], df13_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_13'] != 0.0):
        df_m.loc[i, 'ap_13'] = ((( np.nansum([df13_d.loc[i, 'alcohol_5'], df13_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df13_d.loc[i, 'alcohol_10'], df13_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df13_d.loc[i, 'alcohol_20'], df13_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_13'])*100 
    df_m.loc[i, 'loco_13'] = np.nansum([df13_d.loc[i, 'locomotive'], df13_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_14'] = df14_d.loc[i, 'water'] + df14_l.loc[i, 'water']
    df_m.loc[i, 'a_14'] = np.nansum([df14_d.loc[i, 'alcohol_5'], df14_l.loc[i, 'alcohol_5'], df14_d.loc[i, 'alcohol_10'],
                        df14_l.loc[i, 'alcohol_10'], df14_d.loc[i, 'alcohol_20'], df14_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_14'] != 0.0):
        df_m.loc[i, 'ap_14'] = ((( np.nansum([df14_d.loc[i, 'alcohol_5'], df14_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df14_d.loc[i, 'alcohol_10'], df14_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df14_d.loc[i, 'alcohol_20'], df14_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_14'])*100 
    df_m.loc[i, 'loco_14'] = np.nansum([df14_d.loc[i, 'locomotive'], df14_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_15'] = df15_d.loc[i, 'water'] + df15_l.loc[i, 'water']
    df_m.loc[i, 'a_15'] = np.nansum([df15_d.loc[i, 'alcohol_5'], df15_l.loc[i, 'alcohol_5'], df15_d.loc[i, 'alcohol_10'],
                        df15_l.loc[i, 'alcohol_10'], df15_d.loc[i, 'alcohol_20'], df15_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_15'] != 0.0):
        df_m.loc[i, 'ap_15'] = ((( np.nansum([df15_d.loc[i, 'alcohol_5'], df15_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df15_d.loc[i, 'alcohol_10'], df15_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df15_d.loc[i, 'alcohol_20'], df15_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_15'])*100 
    df_m.loc[i, 'loco_15'] = np.nansum([df15_d.loc[i, 'locomotive'], df15_l.loc[i, 'locomotive']])

    
    df_m.loc[i, 'w_17'] = df17_d.loc[i, 'water'] + df17_l.loc[i, 'water']
    df_m.loc[i, 'a_17'] = np.nansum([df17_d.loc[i, 'alcohol_5'], df17_l.loc[i, 'alcohol_5'], df17_d.loc[i, 'alcohol_10'],
                        df17_l.loc[i, 'alcohol_10'], df17_d.loc[i, 'alcohol_20'], df17_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_17'] != 0.0):
        df_m.loc[i, 'ap_17'] = ((( np.nansum([df17_d.loc[i, 'alcohol_5'], df17_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df17_d.loc[i, 'alcohol_10'], df17_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df17_d.loc[i, 'alcohol_20'], df17_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_17'])*100 
    df_m.loc[i, 'loco_17'] = np.nansum([df17_d.loc[i, 'locomotive'], df17_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_18'] = df18_d.loc[i, 'water'] + df18_l.loc[i, 'water']
    df_m.loc[i, 'a_18'] = np.nansum([df18_d.loc[i, 'alcohol_5'], df18_l.loc[i, 'alcohol_5'], df18_d.loc[i, 'alcohol_10'],
                        df18_l.loc[i, 'alcohol_10'], df18_d.loc[i, 'alcohol_20'], df18_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_18'] != 0.0):
        df_m.loc[i, 'ap_18'] = ((( np.nansum([df18_d.loc[i, 'alcohol_5'], df18_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df18_d.loc[i, 'alcohol_10'], df18_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df18_d.loc[i, 'alcohol_20'], df18_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_18'])*100 
    df_m.loc[i, 'loco_18'] = np.nansum([df18_d.loc[i, 'locomotive'], df18_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_19'] = df19_d.loc[i, 'water'] + df19_l.loc[i, 'water']
    df_m.loc[i, 'a_19'] = np.nansum([df19_d.loc[i, 'alcohol_5'], df19_l.loc[i, 'alcohol_5'], df19_d.loc[i, 'alcohol_10'],
                        df19_l.loc[i, 'alcohol_10'], df19_d.loc[i, 'alcohol_20'], df19_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_19'] != 0.0):
        df_m.loc[i, 'ap_19'] = ((( np.nansum([df19_d.loc[i, 'alcohol_5'], df19_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df19_d.loc[i, 'alcohol_10'], df19_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df19_d.loc[i, 'alcohol_20'], df19_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_19'])*100 
    df_m.loc[i, 'loco_19'] = np.nansum([df19_d.loc[i, 'locomotive'], df19_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_20'] = df20_d.loc[i, 'water'] + df20_l.loc[i, 'water']
    df_m.loc[i, 'a_20'] = np.nansum([df20_d.loc[i, 'alcohol_5'], df20_l.loc[i, 'alcohol_5'], df20_d.loc[i, 'alcohol_10'],
                        df20_l.loc[i, 'alcohol_10'], df20_d.loc[i, 'alcohol_20'], df20_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_20'] != 0.0):
        df_m.loc[i, 'ap_20'] = ((( np.nansum([df20_d.loc[i, 'alcohol_5'], df20_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df20_d.loc[i, 'alcohol_10'], df20_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df20_d.loc[i, 'alcohol_20'], df20_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_20'])*100 
    df_m.loc[i, 'loco_20'] = np.nansum([df20_d.loc[i, 'locomotive'], df20_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_21'] = df21_d.loc[i, 'water'] + df21_l.loc[i, 'water']
    df_m.loc[i, 'a_21'] = np.nansum([df21_d.loc[i, 'alcohol_5'], df21_l.loc[i, 'alcohol_5'], df21_d.loc[i, 'alcohol_10'],
                        df21_l.loc[i, 'alcohol_10'], df21_d.loc[i, 'alcohol_20'], df21_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_21'] != 0.0):
        df_m.loc[i, 'ap_21'] = ((( np.nansum([df21_d.loc[i, 'alcohol_5'], df21_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df21_d.loc[i, 'alcohol_10'], df21_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df21_d.loc[i, 'alcohol_20'], df21_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_21'])*100 
    df_m.loc[i, 'loco_21'] = np.nansum([df21_d.loc[i, 'locomotive'], df21_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_22'] = df22_d.loc[i, 'water'] + df22_l.loc[i, 'water']
    df_m.loc[i, 'a_22'] = np.nansum([df22_d.loc[i, 'alcohol_5'], df22_l.loc[i, 'alcohol_5'], df22_d.loc[i, 'alcohol_10'],
                        df22_l.loc[i, 'alcohol_10'], df22_d.loc[i, 'alcohol_20'], df22_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_22'] != 0.0):
        df_m.loc[i, 'ap_22'] = ((( np.nansum([df22_d.loc[i, 'alcohol_5'], df22_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df22_d.loc[i, 'alcohol_10'], df22_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df22_d.loc[i, 'alcohol_20'], df22_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_22'])*100 
    df_m.loc[i, 'loco_22'] = np.nansum([df22_d.loc[i, 'locomotive'], df22_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_23'] = df23_d.loc[i, 'water'] + df23_l.loc[i, 'water']
    df_m.loc[i, 'a_23'] = np.nansum([df23_d.loc[i, 'alcohol_5'], df23_l.loc[i, 'alcohol_5'], df23_d.loc[i, 'alcohol_10'],
                        df23_l.loc[i, 'alcohol_10'], df23_d.loc[i, 'alcohol_20'], df23_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_23'] != 0.0):
        df_m.loc[i, 'ap_23'] = ((( np.nansum([df23_d.loc[i, 'alcohol_5'], df23_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df23_d.loc[i, 'alcohol_10'], df23_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df23_d.loc[i, 'alcohol_20'], df23_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_23'])*100 
    df_m.loc[i, 'loco_23'] = np.nansum([df23_d.loc[i, 'locomotive'], df23_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_24'] = df24_d.loc[i, 'water'] + df24_l.loc[i, 'water']
    df_m.loc[i, 'a_24'] = np.nansum([df24_d.loc[i, 'alcohol_5'], df24_l.loc[i, 'alcohol_5'], df24_d.loc[i, 'alcohol_10'],
                        df24_l.loc[i, 'alcohol_10'], df24_d.loc[i, 'alcohol_20'], df24_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_24'] != 0.0):
        df_m.loc[i, 'ap_24'] = ((( np.nansum([df24_d.loc[i, 'alcohol_5'], df24_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df24_d.loc[i, 'alcohol_10'], df24_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df24_d.loc[i, 'alcohol_20'], df24_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_24'])*100 
    df_m.loc[i, 'loco_24'] = np.nansum([df24_d.loc[i, 'locomotive'], df24_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_25'] = df25_d.loc[i, 'water'] + df25_l.loc[i, 'water']
    df_m.loc[i, 'a_25'] = np.nansum([df25_d.loc[i, 'alcohol_5'], df25_l.loc[i, 'alcohol_5'], df25_d.loc[i, 'alcohol_10'],
                        df25_l.loc[i, 'alcohol_10'], df25_d.loc[i, 'alcohol_20'], df25_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_25'] != 0.0):
        df_m.loc[i, 'ap_25'] = ((( np.nansum([df25_d.loc[i, 'alcohol_5'], df25_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df25_d.loc[i, 'alcohol_10'], df25_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df25_d.loc[i, 'alcohol_20'], df25_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_25'])*100 
    df_m.loc[i, 'loco_25'] = np.nansum([df25_d.loc[i, 'locomotive'], df25_l.loc[i, 'locomotive']])
    
    
    df_m.loc[i, 'w_26'] = df26_d.loc[i, 'water'] + df26_l.loc[i, 'water']
    df_m.loc[i, 'a_26'] = np.nansum([df26_d.loc[i, 'alcohol_5'], df26_l.loc[i, 'alcohol_5'], df26_d.loc[i, 'alcohol_10'],
                        df26_l.loc[i, 'alcohol_10'], df26_d.loc[i, 'alcohol_20'], df26_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_26'] != 0.0):
        df_m.loc[i, 'ap_26'] = ((( np.nansum([df26_d.loc[i, 'alcohol_5'], df26_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df26_d.loc[i, 'alcohol_10'], df26_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df26_d.loc[i, 'alcohol_20'], df26_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_26'])*100 
    df_m.loc[i, 'loco_26'] = np.nansum([df26_d.loc[i, 'locomotive'], df26_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_27'] = df27_d.loc[i, 'water'] + df27_l.loc[i, 'water']
    df_m.loc[i, 'a_27'] = np.nansum([df27_d.loc[i, 'alcohol_5'], df27_l.loc[i, 'alcohol_5'], df27_d.loc[i, 'alcohol_10'],
                        df27_l.loc[i, 'alcohol_10'], df27_d.loc[i, 'alcohol_20'], df27_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_27'] != 0.0):
        df_m.loc[i, 'ap_27'] = ((( np.nansum([df27_d.loc[i, 'alcohol_5'], df27_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df27_d.loc[i, 'alcohol_10'], df27_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df27_d.loc[i, 'alcohol_20'], df27_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_27'])*100 
    df_m.loc[i, 'loco_27'] = np.nansum([df27_d.loc[i, 'locomotive'], df27_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_28'] = df28_d.loc[i, 'water'] + df28_l.loc[i, 'water']
    df_m.loc[i, 'a_28'] = np.nansum([df28_d.loc[i, 'alcohol_5'], df28_l.loc[i, 'alcohol_5'], df28_d.loc[i, 'alcohol_10'],
                        df28_l.loc[i, 'alcohol_10'], df28_d.loc[i, 'alcohol_20'], df28_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_28'] != 0.0):
        df_m.loc[i, 'ap_28'] = ((( np.nansum([df28_d.loc[i, 'alcohol_5'], df28_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df28_d.loc[i, 'alcohol_10'], df28_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df28_d.loc[i, 'alcohol_20'], df28_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_28'])*100 
    df_m.loc[i, 'loco_28'] = np.nansum([df28_d.loc[i, 'locomotive'], df28_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_29'] = df29_d.loc[i, 'water'] + df29_l.loc[i, 'water']
    df_m.loc[i, 'a_29'] = np.nansum([df29_d.loc[i, 'alcohol_5'], df29_l.loc[i, 'alcohol_5'], df29_d.loc[i, 'alcohol_10'],
                        df29_l.loc[i, 'alcohol_10'], df29_d.loc[i, 'alcohol_20'], df29_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_29'] != 0.0):
        df_m.loc[i, 'ap_29'] = ((( np.nansum([df29_d.loc[i, 'alcohol_5'], df29_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df29_d.loc[i, 'alcohol_10'], df29_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df29_d.loc[i, 'alcohol_20'], df29_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_29'])*100 
    df_m.loc[i, 'loco_29'] = np.nansum([df29_d.loc[i, 'locomotive'], df29_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_30'] = df30_d.loc[i, 'water'] + df30_l.loc[i, 'water']
    df_m.loc[i, 'a_30'] = np.nansum([df30_d.loc[i, 'alcohol_5'], df30_l.loc[i, 'alcohol_5'], df30_d.loc[i, 'alcohol_10'],
                        df30_l.loc[i, 'alcohol_10'], df30_d.loc[i, 'alcohol_20'], df30_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_30'] != 0.0):
        df_m.loc[i, 'ap_30'] = ((( np.nansum([df30_d.loc[i, 'alcohol_5'], df30_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df30_d.loc[i, 'alcohol_10'], df30_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df30_d.loc[i, 'alcohol_20'], df30_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_30'])*100 
    df_m.loc[i, 'loco_30'] = np.nansum([df30_d.loc[i, 'locomotive'], df30_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_31'] = df31_d.loc[i, 'water'] + df31_l.loc[i, 'water']
    df_m.loc[i, 'a_31'] = np.nansum([df31_d.loc[i, 'alcohol_5'], df31_l.loc[i, 'alcohol_5'], df31_d.loc[i, 'alcohol_10'],
                        df31_l.loc[i, 'alcohol_10'], df31_d.loc[i, 'alcohol_20'], df31_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_31'] != 0.0):
        df_m.loc[i, 'ap_31'] = ((( np.nansum([df31_d.loc[i, 'alcohol_5'], df31_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df31_d.loc[i, 'alcohol_10'], df31_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df31_d.loc[i, 'alcohol_20'], df31_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_31'])*100 
    df_m.loc[i, 'loco_31'] = np.nansum([df31_d.loc[i, 'locomotive'], df31_l.loc[i, 'locomotive']])
    
    df_m.loc[i, 'w_32'] = df32_d.loc[i, 'water'] + df32_l.loc[i, 'water']
    df_m.loc[i, 'a_32'] = np.nansum([df32_d.loc[i, 'alcohol_5'], df32_l.loc[i, 'alcohol_5'], df32_d.loc[i, 'alcohol_10'],
                        df32_l.loc[i, 'alcohol_10'], df32_d.loc[i, 'alcohol_20'], df32_l.loc[i, 'alcohol_20']])
    if(df_m.loc[i, 'a_32'] != 0.0):
        df_m.loc[i, 'ap_32'] = ((( np.nansum([df32_d.loc[i, 'alcohol_5'], df32_l.loc[i, 'alcohol_5']])*0.05)+
                                       ( np.nansum([df32_d.loc[i, 'alcohol_10'], df32_l.loc[i, 'alcohol_10']])*0.1)+
                                        ( np.nansum([df32_d.loc[i, 'alcohol_20'], df32_l.loc[i, 'alcohol_20']])*0.2)) / df_m.loc[i, 'a_32'])*100 
    df_m.loc[i, 'loco_32'] = np.nansum([df32_d.loc[i, 'locomotive'], df32_l.loc[i, 'locomotive']])

In [55]:
df_m

,date,day_index,strain,oxytocin,quinine,w_1,a_1,ap_1,loco_1,w_2,...,ap_30,loco_30,w_31,a_31,ap_31,loco_31,w_32,a_32,ap_32,loco_32
0,2020-02-12,1,wistar,NaN,NaN,NaN,0.0,NaN,9126.0,NaN,...,NaN,14745.0,NaN,0.0,NaN,14856.0,NaN,NaN,NaN,NaN
1,2020-02-13,2,wistar,NaN,NaN,11.38,0.0,NaN,11817.0,18.51,...,NaN,11326.0,17.49,0.0,NaN,11293.0,NaN,NaN,NaN,NaN
2,2020-02-14,3,wistar,NaN,NaN,NaN,0.0,NaN,10150.0,NaN,...,NaN,11026.0,15.04,0.0,NaN,12959.0,NaN,NaN,NaN,NaN
3,2020-02-15,4,wistar,NaN,NaN,NaN,0.0,NaN,0.0,13.97,...,NaN,11580.0,14.78,0.0,NaN,12136.0,NaN,NaN,NaN,NaN
4,2020-02-16,5,wistar,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,9580.0,16.93,0.0,NaN,13140.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2020-11-13,276,wistar,applied,NaN,NaN,0.0,NaN,1906.0,NaN,...,5.0,0.0,NaN,1.003442,10.0,7300.0,NaN,NaN,NaN,NaN
276,2020-11-14,277,wistar,applied,NaN,NaN,0.587421,NaN,0.0,NaN,...,13.331516,0.0,NaN,2.271473,10.0,7155.0,NaN,NaN,NaN,NaN
277,2020-11-15,278,wistar,applied,NaN,NaN,1.436103,NaN,0.0,NaN,...,5.0,0.0,NaN,2.319731,10.0,7504.0,NaN,NaN,NaN,NaN
278,2020-11-16,279,wistar,applied,NaN,NaN,1.787225,NaN,0.0,NaN,...,5.0,0.0,NaN,3.346471,10.0,7857.0,NaN,NaN,NaN,NaN
279,2020-11-17,280,wistar,applied,NaN,NaN,0.825385,NaN,0.0,NaN,...,5.0,0.0,NaN,1.286336,10.0,5228.0,NaN,NaN,NaN,NaN

In [56]:
df_m.to_excel(r'{}/drinkometer_acp.xlsx'.format(path_), index=False, header=True)

In [57]:
df_m.replace(0, np.nan, inplace=True)

In [58]:
df_m

,date,day_index,strain,oxytocin,quinine,w_1,a_1,ap_1,loco_1,w_2,...,ap_30,loco_30,w_31,a_31,ap_31,loco_31,w_32,a_32,ap_32,loco_32
0,2020-02-12,1,wistar,NaN,NaN,NaN,NaN,NaN,9126.0,NaN,...,NaN,14745.0,NaN,NaN,NaN,14856.0,NaN,NaN,NaN,NaN
1,2020-02-13,2,wistar,NaN,NaN,11.38,NaN,NaN,11817.0,18.51,...,NaN,11326.0,17.49,NaN,NaN,11293.0,NaN,NaN,NaN,NaN
2,2020-02-14,3,wistar,NaN,NaN,NaN,NaN,NaN,10150.0,NaN,...,NaN,11026.0,15.04,NaN,NaN,12959.0,NaN,NaN,NaN,NaN
3,2020-02-15,4,wistar,NaN,NaN,NaN,NaN,NaN,NaN,13.97,...,NaN,11580.0,14.78,NaN,NaN,12136.0,NaN,NaN,NaN,NaN
4,2020-02-16,5,wistar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9580.0,16.93,NaN,NaN,13140.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2020-11-13,276,wistar,applied,NaN,NaN,NaN,NaN,1906.0,NaN,...,5.000000,NaN,NaN,1.003442,10.0,7300.0,NaN,NaN,NaN,NaN
276,2020-11-14,277,wistar,applied,NaN,NaN,0.587421,NaN,NaN,NaN,...,13.331516,NaN,NaN,2.271473,10.0,7155.0,NaN,NaN,NaN,NaN
277,2020-11-15,278,wistar,applied,NaN,NaN,1.436103,NaN,NaN,NaN,...,5.000000,NaN,NaN,2.319731,10.0,7504.0,NaN,NaN,NaN,NaN
278,2020-11-16,279,wistar,applied,NaN,NaN,1.787225,NaN,NaN,NaN,...,5.000000,NaN,NaN,3.346471,10.0,7857.0,NaN,NaN,NaN,NaN
279,2020-11-17,280,wistar,applied,NaN,NaN,0.825385,NaN,NaN,NaN,...,5.000000,NaN,NaN,1.286336,10.0,5228.0,NaN,NaN,NaN,NaN

In [60]:
df_m.to_excel(r'{}/drinkometer_acp.xlsx'.format(path_), index=False, header=True)